@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nameOutline {
  /* font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold; */

  color: #000;
  color: rgba(0, 0, 0, 0);

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;

  position: absolute;
  z-index:100;
}
.flying{
  cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
}
.square-cursor {
  cursor: url('https://cryptologos.cc/logos/ethereum-eth-logo.png'), auto; /* Replace 'square-cursor.png' with the path to your square cursor image */
  /* cursor: none; */
}
body {
  cursor: url('https://cryptologos.cc/logos/ethereum-eth-logo.png'), auto;
  /* cursor: none; */
}
.name {
  /* font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold; */

  color: #0652DD;

  transform: translate(3px, 3px);

  /* text-shadow: 5px 5px 0px rgba(0, 0, 0, 1); */
}

.headline {
  /* font-family: "Poppins", sans-serif; */
  /* font-weight: 400;
  font-style: normal; */
}

@keyframes hoverUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance */
  }
  100% {
    transform: translateY(0);
  }
}

.apple {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.no-outline:focus {
  outline: none;
}

img {
  pointer-events: none;
  user-select: none;
}

.iphone {
  width: 300px; /* Adjust size as needed */
  height: 600px; /* Adjust size as needed */
  background: linear-gradient(145deg, #d1d1d1, #f1f1f1);
  border-radius: 30px;
  box-shadow: 
    10px 10px 20px #bebebe, /* Light shadow */
    -10px -10px 20px #ffffff; /* Highlight */
}